
<body xmlns:inkscape="always">
<!--<div class="mb-3 row">
  <label for="txtKorisnickoIme" class="col-sm-2 col-form-label">Korisnicko ime</label>
  <div class="col-sm-3">
    <input id="txtKorisnickoIme" [(ngModel)]="txtKorisnickoIme" class="form-control">
  </div>
</div>

<div class="mb-3 row">
  <label for="txtLozinka" class="col-sm-2 col-form-label">Lozinka</label>
  <div class="col-sm-3">
    <input id="txtLozinka" [(ngModel)]="txtLozinka" class="form-control" type="password">
  </div>
</div>
<button class="btn btn-primary" (click)="btnLogin()">Logiraj se</button>
<br> -->


<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">

    <input id="txtKorisnickoIme" [(ngModel)]="txtKorisnickoIme" class="form-control" placeholder="Korisnicko ime">

    <input id="txtLozinka" [(ngModel)]="txtLozinka" class="form-control" type="password" placeholder="Lozinka">

    <button class="btn " (click)="btnLogin()">Logiraj se</button>
    <a routerLink="/registracija" class="button7">Registracija</a>

    <h2>&nbsp;</h2>
  </div>
</div>




</body>
