<body>
<p></p>


<button type="button" class="button" (click)="btnNovi()">Nova vrsta popusta</button>

<br>
<br>

<table class="table table-warning">
  <tr>
    <th>ID</th>
    <th>Naziv</th>
    <th>Popust</th>
    <th>Aktivan</th>
    <th>Akcija</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of getPopustPodaci()">
    <td>{{s.id}}</td>
    <td>{{s.naziv}}</td>
    <td>{{s._Popust}}</td>
    <td>{{s._Aktivan}}</td>
    <td>
      <button class="button" (click)="obrisi(s)">Obrisi</button>
    <button class="button" (click)="detalji(s)">Detalji</button></td>
  </tr>
  </tbody>
</table>
</body>
<div [formGroup]="frmPopust" *ngIf="_isShow" class="modal fade show" id="exampleModalLive1" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel1">Novi popust</h5>
        <button type="button" class="btn-close" (click)="_isShow=false" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Naziv</label>
          <input  type="text"  formControlName="naziv" class="form-control" [(ngModel)]="naziv"  placeholder="Naziv">
          <small *ngIf="frmPopust.get('naziv')!.invalid && frmPopust.get('naziv')!.touched" class="text-danger">Unos obavezan</small>
        </div>
        <div class="mb-3">
          <label class="form-label">Popust</label>
          <input type="text" id="popust" formControlName="popust" class="form-control" [(ngModel)]="popust"  placeholder="Popust" >
          <small *ngIf="frmPopust.get('popust')!.invalid && frmPopust.get('popust')!.touched" class="text-danger">Unos obavezan</small>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" formControlName="aktivan" class="form-check-input" [(ngModel)]="aktivan"  placeholder="Aktivan">
          <label class="form-check-label">Aktivan</label>
          <small *ngIf="frmPopust.get('aktivan')!.invalid && frmPopust.get('aktivan')!.touched" class="text-danger">Unos obavezan</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="_isShow = false" >Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!validacija()" (click)="add()">Add</button>
      </div>
    </div>
  </div>
</div>



<div *ngIf="odabraniPopust!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Izmijeni popust</h5>
        <button type="button" class="btn-close" (click)="odabraniPopust = null" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Naziv</label>
          <input class="form-control" [(ngModel)]="odabraniPopust.naziv"  placeholder="Naziv">
        </div>
        <div class="mb-3">
          <label class="form-label">Popust</label>
          <input  class="form-control" [(ngModel)]="odabraniPopust._Popust"  placeholder="Popust">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="odabraniPopust._Aktivan"  placeholder="Aktivan">
          <label class="form-check-label">Aktivan</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="odabraniPopust = null " >Close</button>

        <button type="button" class="btn btn-primary" (click)="update()">Save changes</button>
      </div>
    </div>
  </div>
</div>

